* {
  padding: 0;
  margin: 0;
}
.himage {
  text-align: center;
  padding-top: 50px;
}
.himage img {
  height: 300px;
}
p {
  padding-top: 15px;
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 15px;
  text-align: left;
}
.card {
  width: 500px;
  margin-left: 300px !important;
  margin-top: 50px;
  margin-bottom: 50px;
  /* position: absolute;
  left: 500px; */
}
.conatiner {
  height: auto;
}
.fa {
  padding: 10px;

  text-align: left;
  background-color: aqua;
  color: black;
}
.box-body {
  background-color: white;
  text-align: left;
}
h3 {
  font-size: 50px;
  text-align: left;
}
